RoomId : <%= room_available_date.room_id %><br />
Begin : <%= room_available_date.begin_at %> | 
End : <%= room_available_date.end_at %>

<p>
  <%= link_to "Show", room_available_date %>
  <%= link_to "Edit", edit_room_available_date_path(room_available_date) %>
  <%= link_to "Destroy", room_available_date, :confirm => 'Are you sure?', :method => :delete %>
</p>

<hr />