<% title "Room Available Date" %>

<p>
  <strong>Room:</strong>
  <%= @room_available_date.room_id %>
</p>
<p>
  <strong>Begin At:</strong>
  <%= @room_available_date.begin_at %>
</p>
<p>
  <strong>End At:</strong>
  <%= @room_available_date.end_at %>
</p>

<p>
  <% if can? :update, RoomAvailableDate%>
    <%= link_to "Edit", edit_room_available_date_path(@room_available_date) %>
  <% end %>
  <% if can? :destroy, RoomAvailableDate %>
    <%= link_to "Destroy", @room_available_date, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<%= link_to "Back to Room available dates", room_available_dates_path %>
