<%= form_for @gallery_item, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </p>
  
  <p><%= f.submit %></p>
  
  <%= f.hidden_field :gallery_id %>
<% end %>
