RoomTypeId : <%= room_type_featuring.room_type_id %><br />
RoomTypeFeatureId : <%= room_type_featuring.room_type_feature_id %>

<p>
  <%= link_to "Show", room_type_featuring %>
  <%= link_to "Edit", edit_room_type_featuring_path(room_type_featuring) %>
  <%= link_to "Destroy", room_type_featuring, :confirm => 'Are you sure?', :method => :delete %>
</p>

<hr />