<% title "Room Type Featuring" %>

<p>
  <strong>Room Type:</strong>
  <%= @room_type_featuring.room_type_id %>
</p>
<p>
  <strong>Room Type Feature:</strong>
  <%= @room_type_featuring.room_type_feature_id %>
</p>

<p>
  <% if can? :update, RoomTypeFeaturing %>
    <%= link_to "Edit", edit_room_type_featuring_path(@room_type_featuring) %>
  <% end %>
  <% if can? :destroy, RoomTypeFeaturing %>
    <%= link_to "Destroy", @room_type_featuring, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<%= link_to "Back to Roomtype Featurings", room_type_featuring_path %>
