<%= form_for @room do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :room_type_id %><br />
    <%= f.text_field :room_type_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
