<% title "Hotel Featuring" %>

<p>
  <strong>Hotel:</strong>
  <%= @hotel_featuring.hotel_id %>
</p>
<p>
  <strong>Hotel Feature:</strong>
  <%= @hotel_featuring.hotel_feature_id %>
</p>

<p>
  <% if can? :update, HotelFeaturing %>
    <%= link_to "Edit", edit_hotel_featuring_path(@hotel_featuring) %>
  <% end %>
  <% if can? :destroy, HotelFeaturing %>
    <%= link_to "Destroy", @hotel_featuring, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<%= link_to "Back to Hotel Featurings", hotel_featurings_path %>
