<%= form_for @gallery do |f| %>
  <%= f.error_messages %>
  
  <p><%= f.submit %></p>
  
  <%= f.hidden_field :name %>
  <%= f.hidden_field :galleriable_id %>
  <%= f.hidden_field :galleriable_type %>
<% end %>
