<p>
  <%= gallery.name %><br />
  <%= link_to "Show", gallery_path(gallery) %> | 
  <%= link_to "Edit", edit_gallery_path(gallery) %> | 
  <%= link_to "Destroy", gallery, :confirm => 'Are you sure?', :method => :delete %>
</p>

<ul>
  <% gallery.gallery_items.each do |gallery_item| %>
    <%= image_tag gallery_item.photo.url(:small)%><br/>
  <% end%>
</ul>