<% title "Gallery" %>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>
<p>
  <strong>Galleriable:</strong>
  <%= @gallery.galleriable_id %>
</p>
<p>
  <strong>Galleriable Type:</strong>
  <%= @gallery.galleriable_type %>
</p>

<% @gallery.gallery_items.each do |gallery_item| %>

  <%= image_tag gallery_item.photo.url(:small) %>

<% end %>

<% if can? :update, GalleryItem %>
  <h4>Add Photo</h4>
  <%= render :partial => '/gallery_items/form' %>
<% end %>

<p>
  <% if can? :update, Gallery %>
    <%= link_to "Edit", edit_gallery_path(@gallery) %> |
  <% end %>
  <% if can? :destroy, Gallery %>
    <%= link_to "Destroy", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
</p>

<%= link_to "Back to Galleries", galleries_path %>
