<% title "Gallery" %>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>
<p>
  <strong>Galleriable:</strong>
  <%= @gallery.galleriable_id %>
</p>
<p>
  <strong>Galleriable Type:</strong>
  <%= @gallery.galleriable_type %>
</p>

<p>
  <%= link_to "Edit", edit_gallery_path(@gallery) %> |
  <%= link_to "Destroy", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", galleries_path %>
</p>
