<% title "Hotel" %>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>
<p>
  <strong>Star:</strong>
  <%= @hotel.star %>
</p>
<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>
<p>
  <strong>Detail:</strong>
  <%= @hotel.detail %>
</p>
<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>
<p>
  <strong>Website:</strong>
  <%= @hotel.website %>
</p>
<p>
  <strong>Email:</strong>
  <%= @hotel.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @hotel.phone %>
</p>
<p>
  <strong>Fax:</strong>
  <%= @hotel.fax %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @hotel.longitude %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @hotel.latitude %>
</p>

<% if @hotel.gallery %>
  
  <h3>Gallery</h3>
  <%= render :partial => '/galleries/gallery', :locals => {:gallery => @hotel.gallery} %>

<% else %>

  <%= render :partial => '/galleries/form' %>

<% end %>

<p>
  <% if can? :update, Hotel %>
    <%= link_to "Edit", edit_hotel_path(@hotel) %> | 
  <% end %>
  <% if can? :destroy, Hotel %>
    <%= link_to "Destroy", @hotel, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<%= link_to "Back to Hotels", hotels_path %>
